@model WebApplicationProject_sucks.Models.QuestionRoom

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <script src="~/PlugIn/tinymce/tinymce.min.js"></script>
    <script src="~/PlugIn/tinymce/jquery.tinymce.min.js"></script>
    <!-- submit button func-->
    <!--question content-->
    <script>
        function mySave() {
            var myContent = tinymce.get("mytextarea").getContent();
            document.getElementById("CommentContent").value = myContent;
        }

    </script>

    <meta name="viewport" content="width=device-width" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <link rel="stylesheet" href="~/Content/QuestionRoom.css?ver=<?php echo rand(111,999)?" type="text/css" />

</head>
<body>

    @using (Html.BeginForm("CreateComment", "QuestionRooms"))
    {

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2>Question Room</h2><h5>by @Model.CreatorName</h5>
        Session["QuestionRoomID"] = Model.QuestionRoomID;
        <!--creator name-->
        @Html.Hidden("CommentCreator", Session["UserName"])
        <!--room ID-->
        @Html.Hidden("RoomID", Model.QuestionRoomID)

        @Html.Hidden("CommentContent", new { @id = "CommentContent" })
        <div class="main">
            <p>@Html.Raw(Model.Title)</p>
            <br>
            @{ MyDB db = new MyDB();}
            <!--Displaying all the comments in the room-->
            @foreach (var item in db.QustionRoomComments.Where(d => d.RoomID == Model.QuestionRoomID))
            {
                <div class="comment">
                        <a class="im" href="#">
                            <img class="media-object img-circle" src='@Url.Action("ShowImage", "Posts", new { UserName = item.UserName })' alt="profile">
                        </a>
                            <div class="text">
                                <h4 class="media-heading text-uppercase reviews"> @Html.DisplayFor(modelItem => item.UserName) </h4>
                                <ul class="media-date text-uppercase reviews list-inline">
                                    <li class="dd">@Html.DisplayFor(modelItem => item.Date.Day)</li>
                                    <li class="mm">@Html.DisplayFor(modelItem => item.Date.Month)</li>
                                    <li class="aaaa">@Html.DisplayFor(modelItem => item.Date.Year)</li>
                                </ul>
                                <p class="media-comment">
                                    @Html.Raw(item.Content)
                                </p>

                            </div>
                </div>
            }



            <div class="form-group">
                <!--text editor , tinymce-->

                <textarea id="mytextarea" name="mytextarea" placeholder="Add a comment..."></textarea>
                <!--comment content-->
                <!--the name is already set to Title-->

            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send comment" onclick="mySave()" class="btn btn-default" /><br />
                <a href="/QuestionRooms/Index">Back to question rooms</a><br />
                <a href="/HomePage/Home">Back to home page</a>
            </div>

        </div>

    }

</body>
</html>
