@model WebApplicationProject_sucks.Models.ProfessionalPending

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Professional.css?ver=<?php echo rand(111,999)?" type="text/css">
    <title>Create</title>
</head>
<body>
    <h4>Professional Addition</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">




        <p id="demo">hey and welcome: @(Session["UserName"])</p>



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @{
                MyDB db = new MyDB();

                List<SelectListItem> listOfProfessions = new List<SelectListItem>();
                foreach (var item in db.Professions)
                {
                    listOfProfessions.Add(new SelectListItem { Text = item.Profession_Name, Value = item.Profession_Name });
                }
            }
            @Html.DropDownListFor(model => model.Profession_Name, listOfProfessions, "Select your profession")
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Describe your specialty" } })
        </div>

        <div class="form-group">
            @{

                List<SelectListItem> listOfCategories = new List<SelectListItem>();
                foreach (var item in db.Categories)
                {
                    listOfCategories.Add(new SelectListItem { Text = item.Name, Value = item.Name });
                }
            }
            @Html.ListBoxFor(model => model.ProfessionalCategories, listOfCategories, "Select your specialties")
        </div>


        @Html.TextBoxFor(model => model.ApplyFiles, new { type = "file" })



        <div class="form-group">
            <input type="submit" value="Send for verification" class="btn btn-default" />
        </div>
        @Html.ActionLink("Cancel", "Index")
    </div>
    }

</body>
</html>