@using WebApplicationProject_sucks.Models
@using WebApplicationProject_sucks.Controllers
<!DOCTYPE html>
<html lang="en">

@{
    Layout = null;
}
<head>

    <link rel="shortcut icon" href="#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Tables</title>
    <!-- Custom fonts for this template -->
    <link href="~/Content/AdminBootstrap/vendor/fontawesome-free/css/all.min.css?ver=<?php echo rand(111,999)?" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- Custom styles for this template -->
    <link href="~/Content/AdminBootstrap/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="~/Content/AdminBootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
</head>
<body id="page-top">

    @{
        MyDB db = new MyDB();
        var list = Session["userList"] as List<FullUser>;
        <!-- in order to load data to the search js-->
        foreach (var user in list)
        {
            <div class="userName" value="@user.UserName"></div>
            <div class="name" value="@user.Name"></div>
            <div class="birthday" value="@user.Birthday"></div>
            <div class="email" value="@user.Email"></div>

        if (user.professional != null)
        {
                <div class="isP" value="True"></div>
                <div class="score" value="@user.professional.Score"></div>
                <div class="profession" value="@user.professional.Profession_Name"></div>
            }
            else
            {
                <div class="isP" value="False"></div>
                <div class="score" value="False"></div>
                <div class="profession" value="False"></div>
            }

        }
    }

    

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Owl<sup>Admin</sup></div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="~/HomePage/AdminHome">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>
            <!-- Nav Item - Statistic charts -->
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/AdminStatistics">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Statistics</span>
                </a>
            </li>

            <!-- Nav Item - Confirm pending professional users -->
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/ConfirmPendings">
                    <i class="fa fa-check"></i>
                    <span>Pending Professionals</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../HomePage/FirstTimeInThisSystem">
                    <i class="fa fa-plus"></i>
                    <span>Add categories and professions</span>
                </a>
            </li>

            <!-- Nav Item - Grop professionals -->
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/ProGroupBy">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Group Professionals</span>
                </a>
            </li>

          
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" id="searchBar" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>

                    </li>


                </ul>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="main">
                    <div class="card-body">
                        <div class="filter-user-search">
                            <a href="#" class="ageRang" data-minAge=0 data-maxAge=12>0-12</a>
                            <a class="ageRang" data-minAge=12 data-maxAge=18 href="#">12-18</a>
                            <a class="ageRang" data-minAge=18 data-maxAge=21 href="#">18-21</a>
                            <a class="ageRang" data-minAge=21 data-maxAge=35 href="#">21-35</a>
                            <a class="ageRang" data-minAge=35 data-maxAge=60 href="#">35-60</a>
                            <a class="ageRang" data-minAge=60 data-maxAge=61 href="#">60+</a>
                        </div>
                        <div class="filter-user-search">
                            <a class="gender" data-gender="Male" href="#">Male</a>
                            <a class="gender" data-gender="Female" href="#">Female</a>
                            <a class="gender" data-gender="Other" href="#">Other</a>
                            <a class="gender" data-gender="all" href="#">clear</a>
                        </div>
                        @foreach (var c in db.Categories)
                        {
                            <a class="category" data-category=@c.Name href="#">@c.Name</a>
                        }

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- scr-->
    <script src="~/Scripts/AdminSearchbar.js"></script>

    <script>

        $(function () {
            $("a.ageRang").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/HomePage/Filter?minage=" + (this).getAttribute("data-minAge") + "&maxage=" + (this).getAttribute("data-maxAge") + "&gender=" + (this).getAttribute("data-gender") + "&category=" + (this).getAttribute("data-category")
                   
                }).always(function (data) {
                    location.reload();
                });

            });
        });

        $(function () {
            $("a.gender").click(function () {

        $.ajax({
            type: "POST",
            url: "/HomePage/Filter?minage=" + (this).getAttribute("data-minAge") + "&maxage=" + (this).getAttribute("data-maxAge") + "&gender=" + (this).getAttribute("data-gender") + "&category=" + (this).getAttribute("data-category")           
        }).always(function (data) {
            location.reload();
        });

            });
        });


        $(function () {
            $("a.category").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/HomePage/Filter?minage=" + (this).getAttribute("data-minAge") + "&maxage=" + (this).getAttribute("data-maxAge") + "&gender=" + (this).getAttribute("data-gender") + "&category=" + (this).getAttribute("data-category")
                }).always(function (data) {
                        location.reload();
                    });

            });
        });
  
    </script>
    <script>
        document.onload = load();
    </script>

</body>
</html>

