@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css" type="text/css">
</head>
<body>
    <div class="row">
        <div class="side">
            <article>
                <header>
                    <canvas id="myCanvas" width="200" height="50" style="border:1px solid #4c89ab;"></canvas>
                    <script>
                        var c = document.getElementById("myCanvas");
                        var ctx = c.getContext("2d");
                        ctx.font = "20px Georgia";
                        ctx.fillText("About us...", 60, 30);
                    </script>
                </header>
                <video width="320" height="240" controls>
                    <source src="/src/videoplayback.mp4" type="video/mp4">
                </video>
                <section>
                    <h4>The Concept</h4>
                    <p>Soul Owl is a website which emphasizes the importance of mental health by providing its users the ability to ask questions in any topic. Our site consists of many professional users that  upload diverse content and advice the audience. Our professionals are carefully picked by the staff so you get the best reliable advices possible! </p>
                </section>

                <section>
                    <h4>The Creators</h4>
                    <p>We are a team of 3 who manage and run this website. This project is based on our thriving passion to link between people and make advices accessible to everyone!</p>
                </section>

                <footer>
                    <aside>
                        Hope you enjoy using this website
                    </aside>
                    <p>© 2020 SoulOwl</p>
                </footer>
                <img src="https://s01.flagcounter.com/count2/aLZh/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0" style="float:left;">

            </article>
           
        </div>

        <div class="main">

            @{

                MyDB db = new MyDB();
            <div id="charactersList">
                @if (db.QuestionRooms.ToList().Count > 0)
                {
                    var listOfQR = db.QuestionRooms.OrderBy(d => d.DatePublished).ToList();

                    for (int i = 0; i < 10 && i < listOfQR.Count; i++)
                    {
                        <div class="character">
                            <a href="../QuestionRooms/Details/" + @listOfQR.ElementAt(i).QuestionRoomID>
                                <img src="~/src/QutionRoomOwl.png">
                                <h5>by @listOfQR.ElementAt(i).CreatorName  @listOfQR.ElementAt(i).DatePublished</h5>
                                <h2>"Question room"</h2>
                                <p>@Html.Raw(listOfQR.ElementAt(i).Title)</p>
                            </a>
                        </div>
                    }


                }

                @if (db.Posts.ToList().Count > 0)
                {
                    var listOfPS = db.Posts.OrderBy(d => d.Date).ThenBy(d => d.NumOfRating).ThenBy(d => d.Rating).ToList();

                    for (int i = 0; i < 10 && i < listOfPS.Count; i++)
                    {
                        var name = db.ProfessionalPages.Find(@listOfPS.ElementAt(i).ProfessionalPageID).UserName;
                        <div class="character">
                            <a href="../QuestionRooms/Details/" + @listOfPS.ElementAt(i).PostID>
                                <img src="~/src/QutionRoomOwl.png">
                                <h5>@listOfPS.ElementAt(i).Title by @name  @listOfPS.ElementAt(i).Date</h5>
                                <h2>@Html.Raw(listOfPS.ElementAt(i).Title)</h2>
                                <p>@Html.Raw(listOfPS.ElementAt(i).Description)</p>
                            </a>
                        </div>
                    }



                }
            </div>
               }
         </div>
    </div>


</body>
</html>






