@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>

    <div class="side">
        <h2>About us</h2>

    </div>
    
        @{

            MyDB db = new MyDB();
            var listOfQR = db.QuestionRooms.OrderBy(d => d.DatePublished).ToList();
            for (int i = 0; i < 10 && i < listOfQR.Count; i++)
            {
                <img src="~/src/QutionRoomOwl.png" alt="Avatar" class="avatar" align="left" sizes="5px">
                <div class="postAndQroom">
                    <p>@Html.Raw(listOfQR.ElementAt(i).Title)</p>
                    <h3>@listOfQR.ElementAt(i).CreatorName</h3>
                    <h5>publish date , @listOfQR.ElementAt(i).DatePublished.Month. @listOfQR.ElementAt(i).DatePublished.Day.  @listOfQR.ElementAt(i).DatePublished.Year</h5>

                </div>

               /* <tr>
                    <td>@listOfQR.ElementAt(i).CreatorName</td>
                    <td>@Html.Raw(listOfQR.ElementAt(i).Title)</td>
                </tr>*/

            }

            /*var listOfPS = db.Posts.OrderBy(d => d.Date).ThenBy(d => d.NumOfRating).ThenBy(d => d.Rating).ToList();
            for (int i = 0; i < 10 && i < listOfPS.Count; i++)
            {
                <tr>
                    <td>@db.ProfessionalPages.Where(d => d.ProffesionalPageID == listOfPS.ElementAt(i).PageID).ToList().ElementAt(0).UserName</td>
                    <td>@Html.Raw(listOfPS.ElementAt(i).Title)</td>
                    <td>@listOfPS.ElementAt(i).Description</td>
                </tr>


            }*/
        }

   
</body>
</html>






