@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>
    <div class="row">
        <div class="side">
            <h2>About us</h2>
            <video width="320" height="240" controls>
                <source src="/src/videoplayback.mp4" type="video/mp4">
            </video>


        </div>

        <div class="main">

            @{

                MyDB db = new MyDB();

                if (db.QuestionRooms.ToList().Count > 0)
                {
                    var listOfQR = db.QuestionRooms.OrderBy(d => d.DatePublished).ToList();
                    <ul>
                        @{ for (int i = 0; i < 10 && i < listOfQR.Count; i++)
                            {
                                <li class="post">
                                    <img src="~/src/QutionRoomOwl.png" alt="Avatar" class="avatar" align="left">
                                    <h2>@Html.Raw(listOfQR.ElementAt(i).Title)</h2>
                                    <h5>publish date , @listOfQR.ElementAt(i).DatePublished.Month.@listOfQR.ElementAt(i).DatePublished.Day.@listOfQR.ElementAt(i).DatePublished.Year</h5>
                                </li>
                            }
                        }
                    </ul>
                 }

                  if (db.Posts.ToList().Count > 0)
                   {
                     var listOfPS = db.Posts.OrderBy(d => d.Date).ThenBy(d => d.NumOfRating).ThenBy(d => d.Rating).ToList();
                    <ul>
                        @{ for (int i = 0; i < 10 && i < listOfPS.Count; i++)
                            {

                                <li class="post">
                                    <img src="~/src/QutionRoomOwl.png" alt="Avatar" class="avatar" align="left">
                                    <h2>@listOfPS.ElementAt(i).Title</h2>
                                    @{int pageid = listOfPS.ElementAt(i).ProfessionalPageID;
                                        <h4> @db.ProfessionalPages.Where(d => d.ProfessionalPageID == pageid).ToList().ElementAt(0).UserName</h4>}
                                        <h5>publish date , @listOfPS.ElementAt(i).Date.Month.@listOfPS.ElementAt(i).Date.Day.@listOfPS.ElementAt(i).Date.Year</h5>
                                        <h4>@listOfPS.ElementAt(i).Description</h4>
                                   </li>
                            }
                         }
                      </ul>

                  }
               }
         </div>
    </div>


</body>
</html>






