@using WebApplicationProject_sucks.Models
@using WebApplicationProject_sucks.Controllers
@model WebApplicationProject_sucks.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>
    @{ MyDB db = new MyDB();
        <!--in order to load the list to javaScript that is responsibale for the searchBar-->
        var statisclist = Session["recommended"] as List<Post>;
        var ContentList = ViewData["ContentList"] as List<AllContent>;
        foreach (var item in ContentList)
        {
            <div class="ID" value=@item.AllContentID></div>
            <div class="Title" value="@item.Title"></div>
            <div class="Content" value="@item.Content"></div>
            <div class="Date" value=@item.Date></div>
            <div class="Name" value=@item.CreatorName></div>
        }
        foreach (var item in statisclist)
        {
            var p = db.ProfessionalPages.Find(item.ProfessionalPageID).UserName;
            <div class="IDs" value=@item.PostID></div>
            <div class="Titles" value="@item.Title"></div>
            <div class="Contents" value="@item.Description"></div>
            <div class="Dates" value=@item.Date></div>
            <div class="Names" value=p></div>
        }
        string isF = ViewData["filterd"] as string;
        if (isF == "true")
        {
            <div id="filterd" value="true"></div>
        }
        else
        { <div id="filterd" value="false"></div>}
    }

    <!--
      the main area
    -->
          <div class="row">
              <!-- side bar-->
              <div class="mySidebar" id="mySidebar" style="display:none">
                  <input type="button" onclick="close_side()" class="button" value="&times;">
                  <!-- the side panel with our info :)-->
                  <nav>
                      @{ string name = Session["UserName"].ToString();
                          if (db.Users.Where(d => d.UserName == name).ToList().ElementAt(0).isProfessional)
                          {

                              <a href="#">@Html.ActionLink("Create a new professional page", "../ProfessionalPages/FromHome")</a>
                              <a href="/Shared/MyProfessionalPages">My professional pages</a>

                          }
                      }
                      <a href="../Categories/Index">Categories</a>
                      <a href="../QuestionRooms/Index">Question Rooms</a>
                      <a href="../ProfessionalPages/Index">Professional Pages</a>

                      <a href="#">@Html.ActionLink("Ask a new question", "../QuestionRooms/FromHome")</a>
                  </nav>
              </div>
              <!-- the main area-->
              <div class="Umain">
                  <div id="charactersList"></div>
              </div>

          </div>
    <script src="~/Scripts/searchBar.js"></script>
    <script>
        //hide the search tab when not focused

        window.onclick = function (event) {
            if (document.activeElement != document.getElementById("searchBar")) {
                document.getElementById("myDropdown").style.display = 'none';
            }
        }
    </script>
</body>
</html>