@model WebApplicationProject_sucks.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/PlugIn/tinymce/tinymce.min.js"></script>
    <script src="~/PlugIn/tinymce/jquery.tinymce.min.js"></script>
    <!--tinymce init-->
    <script>
        tinymce.init({
            selector: '#mytextarea',
            /* theme of the editor */


            /* width and height of the editor */
            width: "100%",
            height: 300,

            /* display statusbar*/
            statubar: true,

            /* plugin */
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],

            /* toolbar */
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",

            /* style */
            style_formats: [
                {
                    title: "Headers", items: [
                        { title: "Header 1", format: "h1" },
                        { title: "Header 2", format: "h2" },
                        { title: "Header 3", format: "h3" },
                        { title: "Header 4", format: "h4" },
                        { title: "Header 5", format: "h5" },
                        { title: "Header 6", format: "h6" }
                    ]
                },
                {
                    title: "Inline", items: [
                        { title: "Bold", icon: "bold", format: "bold" },
                        { title: "Italic", icon: "italic", format: "italic" },
                        { title: "Underline", icon: "underline", format: "underline" },
                        { title: "Strikethrough", icon: "strikethrough", format: "strikethrough" },
                        { title: "Superscript", icon: "superscript", format: "superscript" },
                        { title: "Subscript", icon: "subscript", format: "subscript" },
                        { title: "Code", icon: "code", format: "code" }
                    ]
                },
                {
                    title: "Blocks", items: [
                        { title: "Paragraph", format: "p" },
                        { title: "Blockquote", format: "blockquote" },
                        { title: "Div", format: "div" },
                        { title: "Pre", format: "pre" }
                    ]
                },
                {
                    title: "Alignment", items: [
                        { title: "Left", icon: "alignleft", format: "alignleft" },
                        { title: "Center", icon: "aligncenter", format: "aligncenter" },
                        { title: "Right", icon: "alignright", format: "alignright" },
                        { title: "Justify", icon: "alignjustify", format: "alignjustify" }
                    ]
                }
            ]
        });
    </script>
    <!-- submit button func-->
    <!--question content-->
    <script>
        function Delete(ele) {
            var id = ele.id;
            document.getElementById("PostCommentID").value = ele.id;

        }

    </script>

    <link rel="stylesheet" href="~/Content/QuestionRoom.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("DeleteComments", "Posts"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("PostID",Session["PostID"])
        <h4>Delete comments</h4>
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @{ MyDB db = new MyDB();
                int id = Int32.Parse(Session["PostID"].ToString());}

            <div class="comments">
                @foreach (var item in db.PostComments.Where(d => d.PostID == id).ToList())
                {
                    <div class="comment">
                        <a class="im" href="#">
                            <img class="media-object img-circle" src='@Url.Action("ShowImage", "Posts", new { UserName = @item.UserName })' alt="profile">
                        </a>

                        <div class="text">
                            <h5>
                                @Html.DisplayFor(modelItem => item.UserName) , @Html.DisplayFor(modelItem => item.Date)
                            </h5>
                            <p class="media-comment">
                                @item.PostCommentContent
                            </p>
                            <br />
                            @Html.Hidden("PostCommentID")
                            <input type="submit" value=" Delete this comment" id=@item.PostCommentID onclick="Delete(this)" />

                        </div>
                    </div>

                }
            </div>
            
            @{ string link = "../Details/" + Session["PostID"];}
            <a href=@link>Back to post</a>

        </div>
    }


</body>
</html>
