@model WebApplicationProject_sucks.Models.Post
@using WebApplicationProject_sucks.Controllers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>


    <meta name="viewport" content="width=device-width" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="~/Content/QuestionRoom.css?ver=<?php echo rand(111,999)?" type="text/css" />

</head>
<body>
    @using (Html.BeginForm("AddCommentOrRate", "Posts"))
    {

        Html.AntiForgeryToken();
        Html.ValidationSummary(true, "", new { @class = "text-danger" });

        Html.Hidden("PostID", Model.PostID);
        Session["PostID"] = Model.PostID;

        var list = ViewData["Profileofcreator"] as List<ProfileOfCreator>;
        string CreatorName = list.Where(d => d.PostID == Model.PostID).ToList().ElementAt(0).UserName;
        string userN = Session["UserName"].ToString();

        <div class="row">
            <div class="side">

                <div class="arrow-backround"><i id="open-arrow" class="arrow right" onclick="open_sideBar()"></i></div>
                <div id="side" style="display:none">
                    @{

                        MyDB db = new MyDB();
                        if(userN==CreatorName)
                        {
                            @Html.ActionLink("Delete comments from this post", "DeleteComments", new { id = Model.PostID }) <br /><br />
                            @Html.ActionLink("Edit this post", "Edit", new { id = Model.PostID }) <br /><br />
                            string link = "/ProfessionalPages/Details/" + Model.ProfessionalPageID;
                            <a href=@link>Back to my professional page</a> <br /><br />
                            <a href="/HomePage/Home">Back to home page</a>
                            <i class="arrow left" onclick="close_sideBar()"></i>

                        }
                        else if (Session["ProfessionalPageID"] != null)
                        {
                            string link = "/ProfessionalPages/Details/" + Model.ProfessionalPageID;
                            <a href=@link>Back to professional page</a> <br /><br />
                            <a href="/HomePage/Home">Back to home page</a>
                            <i class="arrow left" onclick="close_sideBar()"></i>
                        }
                        else
                        {
                            <a href="/HomePage/Home">Back to home page</a>
                            <i class="arrow left" onclick="close_sideBar()"></i>
                        }

                    }

                </div>
            </div>

            <div class="main">
                <div class="Title">

                    <h2>@Html.Raw(Model.Title)</h2><h5>by @CreatorName</h5>
                    <p>@Html.DisplayFor(model => model.Date)</p>

                </div>

                <div class="multiple-columns">
                    @Html.Raw(Model.Content)
                </div>
                <div class="rating">
                    @{
                        <label>Pepole that rate this post</label>
                        @Model.NumOfRating
                        <label>Rate</label>
                        @Model.Rating

                        if (db.UserToPostRatings.Where(d => d.UserName == userN && d.PostId == Model.PostID).ToList().Count == 0)

                        {
                            <ul>
                                <li><input type="number" placeholder="Rate this post between 1 to 10" name="Rating" id="Rating" min="1" max="10" /></li>
                                <li><input type="submit" placeholder="Send your rate" class="btn btn-default" /><br /></li>
                            </ul>


                        }

                    }
                </div>
                <div class="comments">
                    @foreach (var item in db.PostComments.Where(d => d.PostID == Model.PostID).ToList())
                    {
                        <div class="comment">
                            <a class="im" href="#">
                                <img class="media-object img-circle" src='@Url.Action("ShowImage", "Posts", new { UserName = item.UserName })' alt="profile">
                            </a>

                            <div class="text">
                                <h5>
                                    @Html.DisplayFor(modelItem => item.UserName) , @Html.DisplayFor(modelItem => item.Date)
                                </h5>
                                <p class="media-comment">
                                    @item.PostCommentContent
                                </p>
                            </div>
                        </div>

                    }
                </div>
                <!--comments for post-->
                <input id="addBtn" type="button" onclick="openTE()" value="Add Comment">
                <div id="addComment" class="tiny" style="display:none">
                    @Html.Editor("PostCommentContent", new { placeholder = "Write a comment" })

                    <input type="submit" value="Send your comment" class="btn btn-default" /><br />

                </div>
            </div>

        </div>
        <script>
            function openTE() {
                document.getElementById("addComment").style.display = 'block';
            }
            function open_sideBar() {
                document.getElementById("side").style.display = 'block';
                document.getElementById("open-arrow").style.display = 'none';
            }
            function close_sideBar() {
                document.getElementById("side").style.display = 'none';
                document.getElementById("open-arrow").style.display = 'unset';
            }
        </script>
    }

</body>
</html>
