@model IEnumerable<WebApplicationProject_sucks.Models.Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/creatPost.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Home.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Register.css" type="text/css" />
    <title>Index</title>
</head>
<body>
    <div class="form-horizontal">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProfessionalPage.NameOfPage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumOfRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfessionalPage.NameOfPage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumOfRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.PostID })
                    </td>
                </tr>
            }

        </table>
        <a href="/HomePage/Home">Back to home page</a>
        </div>
</body>
</html>
