
@{
    ViewBag.Title = "navbar";
}
<!DOCTYPE html>

<html>

<head>
    <script>
        //SideBar
        function open_side() {
            document.getElementById("mySidebar").style.display = 'block';
        }
        function close_side() {
            document.getElementById("mySidebar").style.display = "none";
        }
        //searchBar
        function categoryFilter(e) {
           
            document.getElementById("categoryName").value = e.id;
        }
        function contentTypeFilter(e) {
            document.getElementById("contentType").value = e.id;
        }
        function creatorNameFilter(e) {
            document.getElementById("creatorName").value = e.id;
        }
        //dropDown list
        /* When the user clicks on the button,
                            toggle between hiding and showing the dropdown content */
        function dropDown() {
            document.getElementById("myDropdown").style.display = 'block';
        }

    </script>
    <link rel="stylesheet" href="~/Content/navbar.css?ver=<?php echo rand(111,999)?" type="text/css">
</head>
<body>
    @using (Html.BeginForm("FilterdSearch", "HomePage"))
    {
        @Html.AntiForgeryToken()

            if (Session["UserName"] == null)
            {
                <div class="navbar">
                    <a href="" class="active">Home</a>
                    <a href="#">@Html.ActionLink("Log in", "../Users/LogIn")</a>
                    <a href="#">@Html.ActionLink("Register", "../Users/Create")</a>
                </div>
            }

            else
            {
                <div class="navbar">

                    <input type="button" class="sidebar_open" onclick="open_side()" value=☰ />
                    <a href="" class="active">Home</a>
                    <a href="#">@Html.ActionLink("Help points", "../Users/ShowMap")</a>
                    <a href="#">@Html.ActionLink("Log out", "../Users/LogOut")</a>
                    <!-- search bar and drop dwon -->
                    <div class="dropdown" id="dropdown" name="dropdown">
                        <input type="text" autocomplete="off" name="searchBar" id="searchBar" clss="searchBar" placeholder="search for a post" onclick="dropDown()" />
                        <div id="myDropdown" class="dropdown-content">
                            <b>filter by category:</b>
                            <br>
                            <div class="filter-row">
                                @{
                                    var round = 0;
                                    MyDB db = new MyDB();
                                    db.Categories.OrderBy(q => q.Name);
                                    foreach (var q in db.Categories)
                                    {
                                        round++;
                                        if (round == 3)
                                        {
                                            round = 0;
                                            <br>
                                        }
                                        <input type="submit" class="mybtn" id=@q.Name onclick="categoryFilter(this)" value=@q.Name>
                                    }
                                    <input type="submit" class="mybtn" id="all" onclick="categoryFilter(this)" value="cancel">
                                }
                            </div>
                            <br />
                            <b>filter by typeOf content:</b>
                            <br>
                            <div class="row">
                                <div class="filter-row">
                                    <input type="submit" class="mybtn" id="Question-rooms" onclick="contentTypeFilter(this)" value="Question rooms">
                                    <input type="submit" class="mybtn" id="Post" onclick="contentTypeFilter(this)" value="Post">
                                    <input type="submit" class="mybtn" id="all" onclick="contentTypeFilter(this)" value="Cancel">
                                </div>
                            </div>
                            <br />
                            <b>filter by ContentCreators :</b>
                            <br>
                            <div class="filter-row">
                                @{
                                    foreach (var q in db.Users)
                                    {
                                        if (round == 3)
                                        {
                                            round = 0;
                                            <br>
                                        }
                                        <input type="submit" class="mybtn" id=@q.UserName onclick="creatorNameFilter(this)" value=@q.UserName>
                                        round++;
                                    }
                                    <input type="submit" class="mybtn" id="all" onclick="contentTypeFilter(this)" value="Cancel">
                                }
                            </div>
                            @Html.Hidden("categoryName")
                            @Html.Hidden("contentType")
                            @Html.Hidden("creatorName")
                        </div>
                    </div>
                    <!-- end of SearchBar-->
                    <a href="" class="right" style="padding-left:2px">Welcome! @Session["UserName"]</a>
                </div>
               

            }
        }
    

</body>
</html>



