@model WebApplicationProject_sucks.Models.ProfessionalPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        
        <div class="dl-horizontal">
            @Html.DisplayFor(model => model.NameOfPage)
            @Html.DisplayFor(model => model.UserName)
            <hr />

            @{
                var post = Model.Posts.GetEnumerator();
                while (post.MoveNext())
                {
            <div>
                @{MyDB db = new MyDB();
                    var title = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Title;
                    var date = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Date;
                    var description = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Description;
                    string linkToQR = "../Posts/Details/" + post.Current.PostID;
                }

                
                <img src="~/src/QutionRoomOwl.png" alt="Avatar" class="avatar" align="left">
                <div class="postAndQroom">
                    <a href=@linkToQR>
                        <h3>@Html.Raw(title)</h3>
                        <h5>publish date , @date.Month  @date.Day,  @date.Year</h5>
                        <p>@Html.Raw(description)</p>
                        </a>
                </div>

            </div>
                }
            }
        </div>
    </div>
   
</body>
</html>
