@model WebApplicationProject_sucks.Models.ProfessionalPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
    <link rel="stylesheet" href="~/Content/creatPost.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>New Professional Page</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(model => model.NameOfPage, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter page name" } })

        </div>

        <div class="form-group">
            <label>Select all the relevant categories </label><br />
            @{
                MyDB db = new MyDB();
                List<SelectListItem> listOfCategories = new List<SelectListItem>();
                string user = Session["UserName"].ToString();
                foreach (var item in db.ProfessionalToCategories.Where(d=>d.P_UserName==user).ToList())
                {
                    listOfCategories.Add(new SelectListItem { Text = item.CategoryName, Value = item.CategoryName });
                }
            }

            @Html.ListBox("selectedOptions", listOfCategories)

        </div>
        <div class="form-group">
           @Html.HiddenFor(Model=>Model.UserName,new { Value=Session["UserName"]})
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" /><br />
                @{
                    if (Session["FromMy"] != null)
                    {
                        if (Session["FromMy"].ToString() == "true")
                        {
                            <a href="/Shared/MyProfessionalPages">Cancel</a>
                        }
                        else
                        {
                            <a href="/ProfessionalPages/Index">Cancel</a>
                        }
                    }
                    else
                    {
                        <a href="/ProfessionalPages/Index">Cancel</a>
                    }
                }

            </div>
        </div>
    </div>
    }
    
   
</body>
</html>
