@model WebApplicationProject_sucks.Models.ProfessionalPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">

</head>
<body>
    <div class=" titleOfPage">
        @Html.DisplayFor(model => model.NameOfPage)
        @Html.DisplayFor(model => model.UserName)
        <hr />
    </div>
    <div class="row">

        <div class="main">

            <a href="https://info.flagcounter.com/atup"><img src="https://s11.flagcounter.com/count2/atup/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>

            @{
                MyDB db = new MyDB();
                var post = Model.Posts.GetEnumerator();
                while (post.MoveNext())
                {

                    var title = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Title;
                    var date = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Date;
                    var description = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Description;
                    string linkToQR = "../../Posts/Details/" + post.Current.PostID;


                    <img src="~/src/QutionRoomOwl.png" alt="Avatar" class="avatar" align="left">
                    <div class="postAndQroom">
                        <a href=@linkToQR>
                            <h3>@Html.Raw(title)</h3>
                            <h5>publish date , @date.Month  @date.Day,  @date.Year</h5>
                            <p>@Html.Raw(description)</p>
                        </a>
                    </div><br />
                }
            }

        </div>
        

        @{/*
            string user = Session["UserName"].ToString();
            //checking whether the  user is professional and the current page belongs to them.
            var permitted = (db.Users.Where(d => d.UserName == user).ToList().ElementAt(0).isProfessional) && (Model.UserName == user);

            if (permitted)
            {
                 <div class="side">
                     @Html.ActionLink("Edit this professional page", "Edit", new { id = Model.ProfessionalPageID }) <br />
                     <a href="../../Posts/Create">Add a new post to your professional page</a><br />
                    @Html.ActionLink("Delete posts from this professional page", "Delete", new { id = Model.ProfessionalPageID }) <br />
                    @Html.ActionLink("Back to all of my professional pages", "Index")
                </div>
            }
            */
        }


    </div>

    @{
        Session["ProfessionalPageID"] = Model.ProfessionalPageID;
    }


</body>
</html>
