@model WebApplicationProject_sucks.Models.ProfessionalPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/creatPost.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <link rel="stylesheet" href="~/Content/Home.css?ver=<?php echo rand(111,999)?" type="text/css">
    <link rel="stylesheet" href="~/Content/Register.css?ver=<?php echo rand(111,999)?" type="text/css" />
  
    <link rel="stylesheet" href="~/Content/ProfessionalPage.css?ver=<?php echo rand(111,999)?" type="text/css" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class=" titleOfPage">
      <h2> @Html.DisplayFor(model => model.NameOfPage) | By @Html.DisplayFor(model => model.UserName)</h2>
        <hr/>
    </div>
    <div class="form-horizontal">
     
        <div class="row">

            <div class="main">



                @{
                    MyDB db = new MyDB();
                    var post = Model.Posts.GetEnumerator();

                    //printing all the page posts
                    while (post.MoveNext())
                    {

                        var title = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Title;
                        var date = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Date;
                        var description = db.Posts.Where(d => d.PostID == post.Current.PostID).ToList().ElementAt(0).Description;
                        string linkToQR = "../../Posts/Details/" + post.Current.PostID;



                <div class="postAndQroom">
                    <div class="col-md-4">

                        <a href="@linkToQR">
                        <div class="single-blog-item">

                            <div class="blog-thumnail">                               
                                <img src="~/src/QutionRoomOwl.png" alt="blog-img">
                            </div>

                            <div class="blog-content">
                                <h4>@Html.Raw(title)</h4>
                                <p>@Html.Raw(description)</p>                               
                            </div>

                            <span class="blog-date">@date.Month/@date.Day/@date.Year</span>
                        </div>
                            </a>

                    </div>
                </div>
               

                            <br />
                            }
                            }

                        </div>


                        @{
                            string user = Session["UserName"].ToString();
                            //checking whether the  user is professional and the current page belongs to them.
                            var permitted = (db.Users.Where(d => d.UserName == user).ToList().ElementAt(0).isProfessional) && (Model.UserName == user);

                            if (permitted)
                            {

                                <div class="side">
                                    @Html.ActionLink("Edit this professional page", "Edit", new { id = Model.ProfessionalPageID }) <br /><br />
                                    <a href="../../Posts/Create">Add a new post to your professional page</a><br /><br />
                                    @Html.ActionLink("Delete posts from this professional page", "Delete", new { id = Model.ProfessionalPageID }) <br /><br />
                                    <a href="/Shared/MyProfessionalPages">Back to my professional pages</a>
                                </div>


                            }
                            else
                            {
                                <div class="side">
                                    @Html.ActionLink("Back to professional pages", "Index")<br /><br />
                                    <a href="/HomePage/Home">Back to home page</a>
                                </div>
                            }

                        }
                       
                    </div>

        @{
            Session["ProfessionalPageID"] = Model.ProfessionalPageID;
        }

    </div>
</body>
</html>
