@model WebApplicationProject_sucks.Models.ProfessionalPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>ProfessionalPage</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
            @Html.Hidden("ProfessionalPageID",Session["ProfessionalPageID"])
            <div class="form-group">
               @Html.Editor("NameOfPage", new { htmlAttributes = new { @class = "form-control" ,@Value=Model.NameOfPage} })
                   
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" /><br />
                    @{ string link = "../ProfessionalPages/Details/" + Session["ProfessionalPageID"];}
                    <a href=@link>Cancel</a>
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
